
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0f1a, #1c1c2e);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.app {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} 

.app h1 {
  font-size: 42px;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}


.search-box input {
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  width: 250px;
  outline: none;
  font-size: 16px;
}


.search-box button {
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  background: #ff3c78;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-box button:hover {
  background: #ff1f5c;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;  
  width: 100%;
}


.movie-card {
  background: #1f1f2e;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-card h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.movie-card p {
  font-size: 14px;
  opacity: 0.8;
}
