
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1c2a4d, #0f172a);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


.app {
  background: #16213e;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 150, 255, 0.2);
}


h1 {
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 2px;
}


.input-box {
  display: flex;
  gap: 15px;   
  margin-bottom: 30px;
}


input {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 14px;
}

button {
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: #3da9fc;
  color: white;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background: #2b8ce6;
  transform: scale(1.05);
}


ul {
  list-style: none;
}


li {
  background: #0f3460;
  padding: 12px 18px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;  /* spacing between text & delete button */
}


li span {
  cursor: pointer;
}


.completed {
  text-decoration: line-through;
  opacity: 0.6;
}


.delete-btn {
  background: #ff4d6d;
}

.delete-btn:hover {
  background: #e63950;
}